<form [formGroup]="form" class="login-form">
  <mat-card>
    <mat-form-field class="form-field">
      <input
        matInput
        name="email"
        formControlName="email"
        placeholder="Email"
      />
      <mat-error *ngIf="form.hasError('required', 'email')">
        Email is required
      </mat-error>
    </mat-form-field>
    <br />
    <mat-form-field class="form-field">
      <input
        matInput
        name="password"
        formControlName="password"
        type="password"
        placeholder="Password"
      />
      <mat-error *ngIf="form.hasError('required', 'password')">
        Password is required
      </mat-error>
    </mat-form-field>
    <br />
    <button
      mat-raised-button
      color="primary"
      class="button button-primary"
      (click)="login()"
    >
      Login
    </button>
  </mat-card>
</form>
