<div class="flex-center">
  <input
    #fileInput
    hidden="true"
    type="file"
    id="file"
    (change)="handleReviewInput($event.target.files)"
  />
  <button mat-flat-button color="primary" (click)="fileInput.click()">
    Select review
  </button>
  <mat-chip-list *ngIf="review">
    <mat-chip [removable]="true" (removed)="removeReview()">
      {{ review.name }}
      <mat-icon matChipRemove>cancel</mat-icon></mat-chip
    >
  </mat-chip-list>
</div>
<div class="flex-center">
  <button mat-raised-button color="primary" (click)="uploadFile()">
    Upload
  </button>
</div>

<table mat-table [dataSource]="papersForReview" class="mat-elevation-z8">
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let element">{{ element.title }}</td>
  </ng-container>

  <ng-container matColumnDef="preview">
    <th mat-header-cell *matHeaderCellDef>Preview</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-stroked-button
        color="primary"
        (click)="preview(element.title)"
      >
        Preview
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Status</th>
    <td mat-cell *matCellDef="let element">
      {{ element.status }}
    </td>
  </ng-container>

  <ng-container matColumnDef="acceptOrReject">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let element">
      <button
        *ngIf="element.status === 'waiting'"
        mat-button
        [matMenuTriggerFor]="menu"
      >
        <mat-icon>settings</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="accept(element)">
          Accept
        </button>
        <button mat-menu-item (click)="reject(element)">
          Reject
        </button>
      </mat-menu>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
